#landing {
    display: flex;
    flex-wrap: wrap;
    padding: 10px; 
    background-color: black;
}

#left {
    justify-content:center;
    flex-direction:column;
    flex: 1;
    font-family:fjalla one;
    color: white;
    height:100vh;
}

#right {
    width:60vw;
    height:100;
}